.container{

    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftContainer{
        flex:0.6;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:5px;
        border: 1px solid lightgrey;
        border-radius: 20px;
        margin-left: 50px;
        padding: 20px 10px;

        img{
            width: 250px;
            height: 250px;
            border-radius: 100%;;
            object-fit: cover;
        }

        p{
            font-weight: 600;
            font-size: xx-large;
            color:rgb(70, 69, 69);
            margin-bottom: 10px;
       }

       p:hover{
           text-decoration: underline;
       }

       button{
        padding: 10px 20px;
        font-size: 20px;
        width: 50%;
        font-weight: bold;
        color: #fff;
        background-color: #3498db;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

    }

    button:hover{
            background-color: #2980b9;
     }

     span{
        text-decoration: underline;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        color:#3498db;
     }

     span:hover{
        cursor: pointer;
        font-size: 18px;
        color:#2980b9;
     }

    }

    .rightContainer{
        flex:1.8;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:auto;

        .internshipDetails{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* padding: 20px;          */

           
            }


    }
}